{% extends 'user/base_user.html' %}

{% block title %}
    用户登陆
{% endblock %}

{% block content %}
    <div class="login_box">
        <form method="POST" action="{{ url_for('user.login') }}" class="bg-light p-4 rounded">
            <h2 class="text-center mb-4">Login-User</h2>

            <div class="mb-3">
                <label for="username" class="form-label">请输入用户名。。。</label>
                <input type="text" required name="username" id="username" class="form-control" placeholder="Please enter an user account!">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">请输入密码。。。</label>
                <input type="password" required name="password" id="password" class="form-control" placeholder="Please enter the user password!">
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <input class="btn btn-primary w-100" type="submit" value="Login">
        </form>
    </div>
{% endblock %}